<div class="d-flex">
  <div style="width: 40%;">
      <app-menu></app-menu>
  </div>
  <div>
    <div  class="about-us-container ">
        <h1 class="about-us-container-title">درباره ما</h1>
        <p class="about-us-container-text">نواهنگ در قالب یک پلتفرم جهت تشویق جوامع برای یافتن استعداد ها و همچنین افزایش مهارت در کار برای کاربران خود در سال 1398 تشکیل شده و بر این اصول که برای آپدیت شدن کاربران خود از هیچ تلاشی دریغ نکند پایبند خواهیم بود. این پلتفرم میتواند برای جوامع توسعه دهنده نرم افزار و وب بسیار مفید باشد چرا که تمامی موسیقی های مرتبط با این حوزه با جدیدترین آپدیت قرار میگیرد و با جدیدترین موسیقی ها در چاپ و نشر کتاب ها پلتفرم ما به روز خواهد شد نه تنها در بخش توسعه کامپیوتر و برنامه نویسی در بخش تاریخی و همینطور زبان خارجه و ... نیز همینطور می باشد . همینطور دانش آموزان و کنکوری های عزیز می توانند کتب مد نظر خود را با قیمت پایین تر در نواهنگ فراهم کنند.
     
          در واقع هدف ما تشویق مردم و دوستی دوباره با کتاب می باشد  قیمت اکثر کتاب ها با تخفیف می باشد و کاربر میتواند بعد از ثبت نام وارد صفحه اصلی شود و ویترین موزیک های نواهنگ را ملاحظه بکند و سپس جهت خرید وارد دسته بندی مورد نظر خود شود امیدوار و خوشبین هستیم که تا سال 1404 درصد جوامع کتابخوان حداقل افزایش 10 درصدی داشته باشد 
          ما پشتیبان شما هستیم و بهترین دوست شما را با شما آشنا خواهیم کرد...
        </p>
    </div>
  </div>
</div>
