.category-container-title{
    position: relative;
    margin-right: 2rem;
    font-family: yekan;
}
.category-container-title::before{
 content: '';
 position: absolute;
 top: 0.5rem;
 right: -2rem;
 width: 20px;
 height: 20px;
 border-radius: 0.2rem;
 background-color: rgb(76, 76, 225);
 transform: rotate(135deg);
}
.spinner-4 {
    width: 50px;
    --b: 8px; /* the border thickness */
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 1px;
    background: conic-gradient(#0000 10%,#f03355) content-box;
    -webkit-mask:
      repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
      radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
    -webkit-mask-composite: destination-in;
    mask-composite: intersect;
    animation:s4 1s infinite steps(10);
  }
  @keyframes s4 {to{transform: rotate(1turn)}}
  .musicCover{
    width: 15rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
  }
  a{
    color: #000;
    text-decoration: none;
  }
  h3,h5,p{
    font-family: yekan !important;
    padding-right: 0.4rem;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .musicBox{
    box-shadow: 0 0 10px #dee2e6;
    border-radius: 0.5rem;
    transition: all 300ms ease-in;
  }
  .musicBox:hover{
    transform: scale(1.03);
  }
  .musicBox:hover img{
    filter: blur(2px);
  }
  .musicBox:hover .myPlayIcon{
    display: block !important;
  }

  .playonline{
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
  }

  @media only screen and (max-width: 960px){
    .myBox{
        margin-top: 6rem;
    }
 }