/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    direction: rtl;
}
@font-face {
    font-family: yekan;
    src: url(assets/YekanV3.0/Yekan.woff);
    font-weight: bold;
}
@import '../node_modules/bootstrap//dist/css/bootstrap.min.css'
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
