<div class="d-flex">
    <div class="menuContainer" style="width: 35%;">
        <app-menu (scrollToSectionEvent)="scrollToSection()"></app-menu>
    </div>
    <div class="datailContainer" style="width: 65%;flex-direction: column;">
        <div class="datailContainer1 w-100 d-flex">
            <div class="detailBox1 w-50">
                <div style="height: 25rem;">

                    <div style="width: 100%; height: 100%;" class="ih-item square effect3 bottom_to_top"><a routerLink="/category-music/نوستالژی">
                        <div class="img"><img style="height: 25rem;" src="../../assets/images/1360s_blog_ir.jpg" alt="img"></div>
                        <div class="info">
                          <h3>نوستالژی</h3>
                          <p>Description goes here</p>
                    </div></a></div>
                 
                </div>
            </div>
            <div class="detailBox1 w-50">
                <div style="height: 25rem;">

                    <div style="width: 100%; height: 100%;" class="ih-item square effect3 bottom_to_top"><a routerLink="/category-music/پاپ">
                        <div class="img"><img style="height: 25rem;" src="../../assets/images/Persian-Pop-2.jpg" alt="img"></div>
                        <div class="info">
                          <h3>پاپ</h3>
                          <p>Description goes here</p>
                    </div></a></div>
                 
                </div>
            </div>
        </div>
        <div class="datailContainer2 w-100 d-flex">
            <div class="detailBox2 w-50">
                <div style="height: 25rem;">

                    <div style="width: 100%; height: 100%;" class="ih-item square effect3 bottom_to_top"><a routerLink="/category-music/سنتی">
                        <div class="img"><img style="height: 25rem;" src="../../assets/images/ac-image-5n1646245470pt.jpeg" alt="img"></div>
                        <div class="info">
                          <h3>سنتی</h3>
                          <p>Description goes here</p>
                    </div></a></div>
                </div>
            </div>
            <div class="detailBox2 w-50">
                <div style="height: 25rem;">

                    <div style="width: 100%; height: 100%;" class="ih-item square effect3 bottom_to_top"><a routerLink="/category-music/رپ">
                        <div class="img"><img style="height: 25rem;" src="../../assets/images/remix-rap.jpg" alt="img"></div>
                        <div class="info">
                          <h3>رپ</h3>
                          <p>Description goes here</p>
                    </div></a></div>
                 
                </div>
            </div>
        </div>
        <div  style="margin-top: 10rem;margin-bottom: 4rem;">
            
            <h2 class="myTitleOfNewSong">جدیدترین آهنگ ها</h2>
            <div #newList id="newList" class="myContainer" >
                <div class="musicBox" (click)="myMusicPlayClick(music.id)" *ngFor="let music of newListMusic">
                    <svg class="myPlayIcon" style="position: absolute;left:6rem;top:1rem;display:none; width:2rem;z-index:70;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="200px" width="200px" version="1.1" id="Layer_1" viewBox="0 0 512 512" xml:space="preserve">
                        <circle style="fill:#366796;" cx="256" cy="256" r="256"/>
                        <path style="fill:#273B7A;" d="M166.041,375.282l133.082,133.082c86.643-14.7,158.465-72.923,192.183-151.4L378.649,244.307  L166.041,375.282z"/>
                        <path style="fill:#FDE085;" d="M189.745,133.454l183.025,105.67c12.991,7.501,12.991,26.252,0,33.751l-183.025,105.67  c-12.991,7.501-29.229-1.876-29.229-16.875V150.331C160.516,135.33,176.755,125.954,189.745,133.454z"/>
                        <path style="fill:#FFC91B;" d="M160.516,256.862V361.67c0,15.001,16.239,24.376,29.229,16.875l183.025-105.67  c6.211-3.586,9.418-9.743,9.69-16.013H160.516z"/>
                        </svg>                <img class="imageOFnewSong" src="../{{music.image}}" alt="" srcset="">
                <h3>{{music.creator}}</h3>
                <h5>{{music.title}}</h5>
                <p>{{music.type}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
